{% extends 'base.html' %}
{% block content %}
<h1 class="title">Newsletter UnSubscription</h1>
<div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">
                    <p class="text">You Have Successfully UnSubscribed From Newsletter</p>
                </div>
                <div class="col-md-4 col-sm-4 pull-right">

                </div>
              </div>
            </div>
{% endblock %}
{% block extra_css %}
<style>
    .title{
        margin-left:119px !important;
    }
    .text{
        margin-left:98px;
    }
</style>

{% endblock %}