{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}
{% block extrastyles %}
<style>
    .header a.navbar-brand {
padding-top: 10px;
}
</style>
{% endblock %}
{% block title %}
    {% trans "Confirmation of order" %} {{ order.number }} | {{ block.super }}
{% endblock title %}

{% block checkout_nav %}
<div class="navbar navbar-static-top navbar-inverse nav-checkout">
    <div class="navbar-inner">
        <ul class="nav row-fluid visible-phone">
            <li class="active span12"><span class="navbar-text">{% trans "Confirmation" %}</span></li>
        </ul>
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->
{% endblock %}

{% block checkout_title %}{% trans "Order confirmation" %}{% endblock %}

{% block content %}
<div class="panel-group checkout-page accordion scrollable" id="checkout-page">
    <p>{% trans "Your order has been placed and a confirmation email has ben sent - your order number is" %}
        <span class="label label-success">{{ order.number }}</span></p>
    <p>{% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}</p>
    <p><b>Note:This is a demo store. Any orders placed through this store will not be honored or fulfilled.</b></p>
    <div class="row-fluid shipping-payment">
        <div class="span6">
            {% block shipping_info %}
                <div class="sub-header">
                    <h2>{% trans "Shipping" %}</h2>
                </div>
                <div class="well well-info">
                    <h4>{% trans "Address" %}</h4>
                    {% if order.shipping_address %}
                        <address>
                            {% for field in order.shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if order.shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ order.shipping_address.phone_number }}
                                {% if order.guest_email %}
                                    <br/>{% trans "Email" %}: {{ order.guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if order.shipping_address.notes %}
                            <h4>{% trans "Note" %}</h4>
                            <p>{{ order.shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    {% else %}
                        <p>{% trans "No shipping address required." %}</p>
                    {% endif %}
                </div>

                <div class="well well-info">
                    <h4>{% trans "Shipping method" %}</h4>
                    <p>{{ order.shipping_method }}</p>
                </div>
            {% endblock %}
        </div>

        <div class="span6">
            {% block payment_info %}
                <div class="sub-header">
                    <h2>{% trans "Payment" %}</h2>
                </div>
                <div class="well well-success">
                    <h4>{% trans "Payment" %}</h4>
                    {% for source in order.sources.all %}
                        <p>
                        {% if source.reference %}
                            {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                                Allocation of {{ amount }} from type {{ type }} (reference: {{ reference }})
                            {% endblocktrans %}
                        {% else %}
                            {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                                Allocation of {{ amount }} from type {{ type }}
                            {% endblocktrans %}
                        {% endif %}
                        </p>
                    {% empty %}
                        <p>
                        {% trans "No payment was required for this order." %}
                        </p>
                    {% endfor %}

                    {% if order.billing_address %}
                        <h4>{% trans "Billing address" %}</h4>
                        <address>
                            {% for field in order.billing_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>
                    {% endif %}
                </div>

            {% endblock %}
        </div>
    </div>
    <div id="confirm" class="panel panel-default">
    <div class="sub-header">
        <h3>{% trans "Order details" %}</h3>
    </div>

    <div class="panel-body row">
        <div class="col-md-12 clearfix">
            <div class="table-wrapper-responsive">
                <table>
                    <tr>
                        <th class="checkout-image">Image</th>
                        <th class="checkout-description">Description</th>
                        <th class="checkout-quantity">{% trans "Quantity" %}</th>
                        <th class="checkout-price">{% trans "Price" %}</th>
                    </tr>
                    {% for line in order.lines.all %}
                    <tr>
                        <td class="checkout-image">
                            {% with image=line.product.primary_image %}
                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                            <a href="{{ form.instance.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                            {% endthumbnail %}
                            {% endwith %}
                        </td>
                        <td class="checkout-description">
                            <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                        </td>
                        <td class="checkout-quantity">{{ line.quantity }}</td>
                        
                        <td class="checkout-total"><strong>
                                {% if line.is_tax_known %}
                                {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                                {% else %}
                                {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                                {% endif %}
                            </strong></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
    {% block basket_totals %}
    <div class="shopping-total">
                  <ul>
                      {% with discounts=order.basket_discounts %}
                      {% block discount_totals %}
                      {% if discounts %}
                    <li>
                      <em>Basket total (before discounts)</em>
                      <strong class="price">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</strong>
                    </li>
                    {% for discount in discounts %}
                    <li>
                      <em>{% trans "Discount" %}</em>
                      <strong class="price">{{ discount.amount|currency:order.currency }}</strong>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endblock discount_totals %}
                    {% block basket_total %}
                    {% if discounts %}
                    <li>
                      <em>{% trans "Basket total (after discounts)" %}</em>
                      <strong class="price">{{ order.basket_total_incl_tax|currency:order.currency }}</strong>
                    </li>
                    {% else %}
                    <li>
                      <em>{% trans "Basket total" %}</em>
                      <strong class="price">{% if show_tax_separately %}
                                                {{ order.basket_total_excl_tax|currency:order.currency }}
                                            {% else %}
                                                {{ order.basket_total_incl_tax|currency:order.currency }}
                                            {% endif %}</strong>
                    </li>
                    {% endif %}
                    {% endblock basket_total %}
                    {% endwith %}
                    {% block shipping_total %}
                    <li>
                      <em>{% trans "Shipping method" %}</em>
                      <strong class="price">{{ order.shipping_method }}</strong>
                    </li>
                    {% if order.has_shipping_discounts %}
                    <li>
                      <em>{% trans "Shipping charge (before discounts)" %}</em>
                      <strong class="price">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</strong>
                    </li>
                    {% for discount in order.shipping_discounts %}
                    <li>
                      <em>{% trans "Discount" %}</em>
                      <strong class="price">{{ discount.amount|currency:order.currency }}</strong>
                    </li>
                    {% endfor %}
                    <li class="shopping-total-price">
                      <em>{% trans "Shipping charge (after discounts)" %}</em>
                      <strong class="price">{{ order.shipping_incl_tax|currency:order.currency }}</strong>
                    </li>
                    {% else %}
                    <li class="shopping-total-price">
                      <em>{% trans "Shipping charge" %}</em>
                      <strong class="price">{% if show_tax_separately %}
                                            {{ order.shipping_excl_tax|currency:order.currency }}
                                        {% else %}
                                            {{ order.shipping_incl_tax|currency:order.currency }}
                                        {% endif %}</strong>
                    </li>
                    {% endif %}
                    {% endblock shipping_total %}
                    {% block order_total %}
                    <li class="shopping-total-price">
                      <em>{% trans "Order total" %}</em>
                      <strong class="price">{{ order.total_incl_tax|currency:order.currency }}</strong>
                    </li>
                    {% endblock order_total %}
                  </ul>
                </div>
    
    {% endblock basket_totals %}

    {% block order_tracking %}
        {% if not order.user %}
            <div class="sub-header">
                <h2>{% trans "Tracking your order" %}</h2>
            </div>
            <p>{% trans "You can track the status of your order" as track_status_label %}
                <a href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{{ track_status_label }}</a>.
            </p>
        {% endif %}
    {% endblock %}


    {% block order_actions %}
    <div class="panel-body row" style="padding-right:0px">
    <div class="col-md-12 clearfix">
        <div class="form-actions">
            <div class="row-fluid">
                <div class="span3">
                    <a onclick="window.print()" href="#" class="btn btn-primary pull-right">{% trans "Print this page" %}</a>
                </div>
                <div class="span3 offset6">
                    <a href="{{ homepage_url }}" class="btn btn-default pull-right margin-right-20">{% trans "Continue shopping" %}</a>
                </div>
            </div>
        </div>
        </div>
        </div>
    {% endblock order_actions %}
</div>
{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
{% block extra_css %}
<style>
.panel-body{
    padding-right:0px;
}
</style>
{% endblock %}
