{% extends 'account_base.html' %}
{% block page_title %}Change Password{% endblock %}
{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="">Store</a></li>
<li class="active">Change Password</li>
{% endblock %}
{% block account_content %}
<div class="col-md-9 col-sm-9">
    <h2 class="title">Change Your Password</h2>
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">
                    <form class="form-horizontal form-without-legend" role="form" action="" method="post" id="password-change">{% csrf_token %}
                    <div class="form-group">
                      <label for="email" class="col-lg-4 control-label">Email*</label>
                      <div class="col-lg-8">
                          <input type="password" class="form-control" id="email" name="old_password">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-4 col-sm-4 pull-right">
                  <div class="form-info">
                    <h2><em>Important</em> Information</h2>
                    <p>Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>

                    <button type="button" class="btn btn-default">More details</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block extra_acc_css %}
<style>
.title{
	margin-left:163px;
}
</style>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(e){

        $("#password-change").validate({
              rules: {
                 'old_password': {
                      required: true,

              },
              'new_password1': {
                      required: true,

              },
              'new_password2': {
                      required: true,

              },
              messages: {
                  old_password: "Please enter your Old Password",
                  new_password1:"Please Enter Password1",
                  new_password2:"Please Enter Password2",
              },
              submitHandler: function(form) {
                  form.submit();
              }
              }
          });
        });
</script>
        {% endblock %}