/* here you can put your own css to customize and override the theme */

  .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
            {
                
				background:url(../../../global/img/b21.png) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb21 div { background-position: -5px -5px; }
            .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
            .jssorb21 .av { background-position: -65px -5px; }
            .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
			
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background:url(../../../global/img/a21.png) center center no-repeat;
                overflow: hidden;
            }
            .jssora21l { background-position: -3px -33px; }
            .jssora21r { background-position: -63px -33px; }
            .jssora21l:hover { background-position: -123px -33px; }
            .jssora21r:hover { background-position: -183px -33px; }
            .jssora21ldn { background-position: -243px -33px; }
            .jssora21rdn { background-position: -303px -33px; }	
			
.login-form{ margin:0 auto; max-width:420px;}
.errorlist{ padding:0px;}
.error-block{color:red;}
.login-form .form-group{ margin:20px 0;}

.social-signup {padding-bottom: 20px;border-bottom: 1px solid #eee;overflow: hidden;margin-bottom: 20px; text-align:center;}
.social-signup a{ float:none; display:inline-block;}
.login-form .lead{ margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}	
.facebook-login{ background:url(../../../global/img/facebook-login.jpg) no-repeat; width:221px; height:61px; text-indent:-1000px; display:inline-block;}
.googleplus-login{background:url(../../../global/img/googleplus-login.jpg) no-repeat; width:219px; height:61px;text-indent:-1000px; display:inline-block;}

.login-form label{ margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; color:#111; font-size:13px;}	
.login-form input{ height:42px;}
.login-button{ background:#25aae2; padding:8px 40px;}	
.login-form h1{ text-align:center;}		
#sign-up-box{ /*width:492px;*/ padding:15px;}	

a.btn-connect-option.facebook {
    background:url(../../../global/img/btn-connect-option.png) no-repeat #3b5998;

-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
#test_box{}

a.btn-connect-option.google-plus {
background:url(../../../global/img/btn-connect-option.png) #DC4D28 no-repeat 0 -60px;

-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
a.btn-connect-option.google-plus:hover{background-color:#C8380F;}
a.btn-connect-option.facebook:hover{background-color:#234367;}	
a.btn-connect-option{
color: #fff;
margin:5px 0;
width:206px;
height: 60px;
line-height: 28px;
text-align: center;
padding: 15px 15px 15px 60px;
border-radius: 3px;
/*float: left;*/

font-size:16px;
font-weight:bold;
text-decoration:none;
	}
a.btn-connect-option:hover{ color:#FFF; }


#cyber_form{
    max-width: 492px;
margin: 0 auto;
margin-bottom:50px;
}
