{% extends "layout.html" %}

{% load i18n %}

{% block title %}
{% trans 'Register' %} | {{ block.super }}
{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<div class="row margin-bottom-40">
    <!-- BEGIN SIDEBAR -->
    <div class="sidebar col-md-3 col-sm-3">
        <ul class="list-group margin-bottom-25 sidebar-menu">
            <li class="list-group-item clearfix"><a href="{% url 'customer:login' %}"><i class="fa fa-angle-right"></i>Login</a></li>
            <li class="list-group-item clearfix"><a href="{% url 'password-reset' %}"><i class="fa fa-angle-right"></i> Restore Password</a></li>
        </ul>
    </div>
    <!-- END SIDEBAR -->

    <!-- BEGIN CONTENT -->
    <div class="col-md-9 col-sm-9">
        <div class="content-form-page">
            <div class="row">
                <div class="col-md-7 col-sm-7">
                    {% block middle_content %}
                {% endblock middle_content %}
                </div>
                <div class="col-md-4 col-sm-4 pull-right">
                    <div class="form-info">
                        <h2><em>Important</em> Information</h2>
                        <p>Lorem ipsum dolor ut sit ame dolore  adipiscing elit, sed sit nonumy nibh sed euismod ut laoreet dolore magna aliquarm erat sit volutpat. Nostrud exerci tation ullamcorper suscipit lobortis nisl aliquip  commodo quat.</p>

                        <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>

                        <button type="button" class="btn btn-default">More details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
{% endblock content %}
