{% extends 'account_base.html' %}
{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="">Store</a></li>
<li class="active">Foregot Password?</li>
{% endblock %}
{% block account_content %}
<div class="col-md-9 col-sm-9">
    <h3 class='title'>PASSWORD RESET SUCCESSFUL</h3>
    <div class="content-form-page">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <form class="form-horizontal form-without-legend" role="form" action="." method="post" id="password-form">{% csrf_token %}
                    We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.

                </form>
            </div>
            <div class="col-md-4 col-sm-4 pull-right">
                <div class="form-info">
                    <h2><em>Important</em> Information</h2>
                    <p>Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>

                    <button type="button" class="btn btn-default">More details</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_acc_css %}
<style>
.title{
	margin-left:20px
}
</style>
{% endblock %}
