/* here you can put your own css to customize and override the theme */

.why-shop-img{ text-align:center;}
.why-blocks{background: #37dae8;padding:25px 0;margin-bottom:10px;border-radius: 6px!important;max-width: 900px;margin: 7px auto;}
.why-blocks h3{ color:#fff;font-size: 19px;font-weight: bold;}


.why-shop-block {background: #fff;padding: 60px 0 40px;}
.why-shop-block h1{ color:#3e3e3e; text-align:center; text-transform:uppercase; margin-bottom:30px;}
.why-shop-block p{ color:#fff; font-size:14px; font-family:Arial, Helvetica, sans-serif; margin-bottom:15px;text-align: left;}
.why_shop_img{ text-align:center; margin:30px 0;}

.faq_block{background:#fe9f2d;padding: 60px 0 40px;}

