{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}
{% with all_images=product.images.all %}
{# use length rather then count as the images get queried anyways #}
{% if all_images|length > 0 %}
<div class="product-main-image">
    {% with image=product.primary_image %}
    {% thumbnail image.original "330x440"  crop='center' as thumb %}
    {% thumbnail image.original "600x800"  crop='center' as large %}
    <img src="{{thumb.url}}" alt="{{ product.get_title }}" class="img-responsive imageplacer" data-BigImgSrc="{{large.url}}">
    {% endthumbnail %}
    {% endthumbnail %}
    {% endwith %}
</div>
{% if all_images|length > 1 %}
<div class="product-other-images">
    {% for image in all_images %}
    {% thumbnail image.original "600x800" crop="center" as icon %}
    {% thumbnail image.original "600x800" crop="center" as thumb %}
    {% thumbnail image.original "600x800" crop="center" as large %}
    <a href="#" class="{% if forloop.first %}active{% endif %} imagegalchange" data-normal-image="{{image.original.url}}" data-large-image="{{large.url}}"><img alt="{{ product.get_title }}" src="{{ icon.url }}"></a>
    {% endthumbnail %}
    {% endthumbnail %}
    {% endthumbnail %}
    {% endfor %}
</div>
{% endif %}
{% endif %}
{% endwith %}