{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load category_tags %}
<script>
    $(document).ready(function(){
        $(".product-quantity .form-control").TouchSpin({
                buttondown_class: "btn quantity-down",
                buttonup_class: "btn quantity-up"
            });
        $(".quantity-down").html("<i class='fa fa-angle-down'></i>");
        $(".quantity-up").html("<i class='fa fa-angle-up'></i>");
        $('div.rateit, span.rateit').rateit();
    })
</script>
<script>
    $(document).ready(function(){
        $('.product-main-image').zoom({url:$('.product-main-image img').attr('data-BigImgSrc')});
        $('.imagegalchange').on('hover,click',function(){
            imge = $('.imageplacer');
            imge.trigger('zoom.destroy');
            normal = $(this).attr('data-normal-image');
            large = $(this).attr('data-large-image');
            imge.attr('src',normal);
            $('.imagegalchange').removeClass('active');
            $(this).addClass('active');
            $('.product-main-image').zoom({url:large});
            return false;
        });
    });
$(document).ready(function(){
    $('#idColor').change(function(){
        ajaxLoadProduct($('option:selected', this).attr('data-url'))
    })
    $('#idSize').change(function(){
        ajaxLoadProduct($('option:selected', this).attr('data-url'))
    })
    $(".removedata").click(function(){
        $("#display_product").hide();
    });
});
</script>
<div class="product-pop-up">
    <div class="product-page product-pop-up">
    <div class="row">
        {% block product_gallery %}
        <div class="col-md-6 col-sm-6 col-xs-3">
            {% include "catalogue/partials/gallery.html" %}
        </div>
        {% endblock %}
        {% block product_main %}
        <div class="col-md-6 col-sm-6 col-xs-9">
            {% comment %}
            This is a but clunky here.  Better to have some kind of JS-driven dashboard menu that
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
            {% endcomment %}
            {% if user.is_authenticated and user.is_staff %}
            <a class="pull-right hidden-phone" href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small><i class="icon-edit"></i> {% trans "Edit this product" %}</small></a>
            {% endif %}
            <h1>{{ product.get_title }}</h1>

            {% block product_stock_record %}
            {% include "catalogue/partials/stock_record.html" with verbose=1 %}
            {% endblock %}

            <div class="description">
                <p>{{ product.description|striptags|truncatewords:50 }}</p>
            </div>
            {# currently size and color not implementing. Will implement in future#}
            <div class="product-page-options">
                {% with size_list=product.get_size_list my_size=product.get_my_size %}
                {% if size_list %}
                <div class="pull-left">
                    <label class="control-label">Size:</label>
                    <select name="size" class="form-control input-sm" id="idSize">
                        {% for size in size_list %}
                        <option data-url="{{size.1}}" value="{{size.0}}" {% if my_size == size.0 %}selected{% endif %}>{{size.0}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                {% endwith %}
                {% with color_list=product.get_color_list my_color=product.get_my_color %}
                {% if color_list %}
                <div class="pull-left">
                    <label class="control-label">Color:</label>
                    <select class="form-control input-sm" name="color" id="idColor">
                        {% for color in color_list %}
                        <option data-url="{{color.1}}" value="{{color.0}}" {% if my_color == color.0 %}selected{% endif %} >{{color.0}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                {% endwith %}
            </div>

            {% block product_basket_form %}
            {% include "catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
            {% iffeature "reviews" %}
            <div class="review">
                {% if product.rating != None %}
                <input type="range" value="{{product.rating}}" step="0.25" id="backing4">
                {% else %}
                <input type="range" value="0" step="0.25" id="backing4">
                {% endif %}
                <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false" data-rateit-readonly="true"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                </div>
                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                    {% blocktrans count product.num_approved_reviews as num_reviews %}
                    1 review
                    {% plural %}
                    {{ num_reviews }} reviews
                    {% endblocktrans %}
                </a>&nbsp;&nbsp;
                {% if product|is_review_permitted:user %}
                |&nbsp;&nbsp;{% if request.user.is_authenticated %}<a href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}?tab=review#addreview">{% else %}<a href="#test_box" class="fancybox-fast-view">{% endif %}{% trans "Write a review" %}</a>
                {% endif %}
            </div>
            {% endiffeature %}
            <ul class="social-icons">
                <li><a class="facebook" data-original-title="facebook" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,height=600,width=600');return false;" href="http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}"></a></li>
                <li><a class="twitter" data-original-title="twitter" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,height=600,width=600');return false;" href="http://twitter.com/intent/tweet?text={{ product.get_title }} {{request.build_absolute_uri}}"></a></li>
                <li><a class="googleplus" data-original-title="googleplus" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,height=600,width=600');return false;" href="https://plus.google.com/share?url={{request.build_absolute_uri}}"></a></li>
            </ul>
        </div>
        {% endblock %}

    </div>
    </div>
</div>