{% load i18n oscar_extra_tags %}
<!-- BEGIN TOP BAR -->
{% user_demo_validation request.user as user_demo %}
<div class="top_strip"></div>
<div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span><a href="tel:+91 4844037171">+91 4844037171</a></span></li>
                        <li><i class="fa fa-envelope"></i><span><a href="mailto:hello@goshop7.com" target="_blank">hello@goshop7.com</a></span></li>
                        <!-- BEGIN CURRENCIES -->
                       
                        <!-- END CURRENCIES -->
                        <!-- BEGIN LANGS -->
                        {% if LANGUAGES|length > 1 %}
                        <li class="langs-block">
                            {% get_language_info_list for LANGUAGES as languages %}
                            <a href="javascript:void(0);" class="current">
                                {% for language in languages %}
                                {% if language.code == LANGUAGE_CODE%}{{ language.name_local }}{% endif %}
                            {% endfor %}
                                <i class="fa fa-angle-down"></i></a>
                            <div class="langs-block-others-wrapper"><div class="langs-block-others">
                              {% for language in languages %}
                                {% if not language.code == LANGUAGE_CODE%}
                                <a href="javascript:void(0);">{{ language.name_local }}</a>
                                {% endif %}
                                {% endfor %}
                            </div></div>
                        </li>
                        {% endif %}
                        <!-- END LANGS -->
                    </ul>
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        {% if user.is_authenticated %}
                        <li>
                            {% if num_unread_notifications > 0 %}
                            {# If user has new notifications - we change account link to go to inbox #}
                            <a href="{% url 'customer:notifications-inbox' %}">My Account</a></li>
                            {% else %}
                            {% if user_demo == 'demo' %}{% else %}
                            <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>{% endif %}
                            {% endif %}
                        <li><a href="{% url 'customer:wishlists-list' %}">My Wishlist</a></li>
                        <li><a href="{% url 'checkout:shipping-address' %}">Checkout</a></li>
                        <li><a href="{% url 'customer:logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="#test_box" class="fancybox-fast-view">Login</a></li>
                        <li><a href="#sign-up-box" class="fancybox-fast-view">Sign up</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
<!-- END TOP BAR -->