{% load display_tags %}
{% load i18n %}

{% if paginator.num_pages > 1 %}
<!-- BEGIN PAGINATOR -->
<div class="row">
    <div class="col-md-8 col-sm-8">
        <ul class="pagination pull-right">
            {% if page_obj.has_previous %}
            <li><a href="?{% get_parameters page %}page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
            {% endif %}
            <li><span>
                    {% blocktrans with page_num=page_obj.number total_pages=paginator.num_pages %}
        Page {{ page_num }} of {{ total_pages }}
        {% endblocktrans %}
                </span></li>
            {% if page_obj.has_next %}
            <li><a href="?{% get_parameters page %}page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- END PAGINATOR -->
{% endif %}
